<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="REG2CI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <REG2CI.Properties.Settings>
            <setting name="XMLBodyOS" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;DesiredConfigurationDigest xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/07/10/DesiredConfiguration"&gt;
	&lt;!--Authored against the following schema version: 5--&gt;
	&lt;OperatingSystem AuthoringScopeId="ScopeId_709B4C9D-07C0-476D-9CF4-2E760FA01892" LogicalName="OperatingSystem_e7820aa6-f780-48f8-9e39-34d15446c4d1" Version="2"&gt;
		&lt;Annotation xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/06/14/Rules"&gt;
			&lt;DisplayName Text="Test CI" ResourceId="ID-457b14c0-5df6-4a6b-a693-2f807d31db72"/&gt;
			&lt;Description Text="Reg2CI (c) 2017 by Roger Zander"/&gt;
		&lt;/Annotation&gt;
		&lt;Parts&gt;
			&lt;SuppressionReferences/&gt;
		&lt;/Parts&gt;
		&lt;Settings&gt;
			&lt;RootComplexSetting&gt;
			&lt;/RootComplexSetting&gt;
		&lt;/Settings&gt;
		&lt;Rules&gt;
		&lt;/Rules&gt;
		&lt;OperatingSystemDiscoveryRule xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/06/14/Rules"&gt;
			&lt;OperatingSystemExpression&gt;
				&lt;Operator&gt;OneOf&lt;/Operator&gt;
				&lt;Operands&gt;
					&lt;RuleExpression RuleId="Windows/All_Windows_Client_Server"/&gt;
				&lt;/Operands&gt;
			&lt;/OperatingSystemExpression&gt;
		&lt;/OperatingSystemDiscoveryRule&gt;
	&lt;/OperatingSystem&gt;
&lt;/DesiredConfigurationDigest&gt;</value>
            </setting>
            <setting name="SimpleSettingReg" serializeAs="String">
                <value> &lt;Annotation xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/06/14/Rules"&gt;
  &lt;DisplayName Text="{DISPLAYNAME}" ResourceId="{RESOURCEID}"/&gt;
  &lt;Description Text="{DESC}"/&gt;
 &lt;/Annotation&gt;
 &lt;RegistryDiscoverySource Hive="{HIVE}" Depth="Base" Is64Bit="false" CreateMissingPath="true" xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/07/10/DesiredConfiguration"&gt;
  &lt;Key&gt;{KEY}&lt;/Key&gt;
  &lt;ValueName&gt;{VALUENAME}&lt;/ValueName&gt;
 &lt;/RegistryDiscoverySource&gt;</value>
            </setting>
            <setting name="RuleRegValue" serializeAs="String">
                <value>&lt;Annotation xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/06/14/Rules"&gt;
	&lt;DisplayName Text="{DISPLAYNAME}" ResourceId="{RESOURCEID}"/&gt;
	&lt;Description Text=""/&gt;
&lt;/Annotation&gt;
&lt;Expression xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/06/14/Rules"&gt;
	&lt;Operator&gt;Equals&lt;/Operator&gt;
	&lt;Operands&gt;
		&lt;SettingReference AuthoringScopeId="{AUTHORINGSCOPEID}" LogicalName="{LOGICALNAME}" Version="1" DataType="{DATATYPE}" SettingLogicalName="{SETTINGLOGICALNAME}" SettingSourceType="Registry" Method="Value" Changeable="true"/&gt;
		&lt;ConstantValue Value="{CONSTANTVALUE}" DataType="{DATATYPE}"/&gt;
	&lt;/Operands&gt;
&lt;/Expression&gt;</value>
            </setting>
            <setting name="RuleRegExist" serializeAs="String">
                <value>&lt;Annotation xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/06/14/Rules"&gt;
	&lt;DisplayName Text="{DISPLAYNAME}" ResourceId="{RESOURCEID}"/&gt;
	&lt;Description Text=""/&gt;
&lt;/Annotation&gt;
&lt;Expression xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/06/14/Rules"&gt;
	&lt;Operator&gt;Equals&lt;/Operator&gt;
	&lt;Operands&gt;
		&lt;SettingReference AuthoringScopeId="{AUTHORINGSCOPEID}" LogicalName="{LOGICALNAME}" Version="1" DataType="{DATATYPE}" SettingLogicalName="{SETTINGLOGICALNAME}" SettingSourceType="Registry" Method="Value" Changeable="false"/&gt;
		&lt;ConstantValue Value="{CONSTANTVALUE}" DataType="{DATATYPE}"/&gt;
	&lt;/Operands&gt;
&lt;/Expression&gt;</value>
            </setting>
            <setting name="XMLBodyApp" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;DesiredConfigurationDigest xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/07/10/DesiredConfiguration"&gt;
  &lt;!--Authored against the following schema version: 5--&gt;
  &lt;Application AuthoringScopeId="ScopeId_709B4C9D-07C0-476D-9CF4-2E760FA01892" LogicalName="Application_8ffce5a5-ebed-47ee-88c1-80fdd4504a04" Version="1" Is64Bit="false"&gt;
    &lt;Annotation xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/06/14/Rules"&gt;
      &lt;DisplayName Text="TEST" ResourceId="" /&gt;
      &lt;Description Text="Reg2CI (c) 2017 by Roger Zander" /&gt;
    &lt;/Annotation&gt;
    &lt;Parts&gt;
      &lt;SuppressionReferences /&gt;
    &lt;/Parts&gt;
    &lt;Settings&gt;
      &lt;RootComplexSetting /&gt;
    &lt;/Settings&gt;
	&lt;Rules&gt;
	&lt;/Rules&gt;
    &lt;PlatformApplicabilityCondition xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/06/14/Rules"&gt;
      &lt;OperatingSystemExpression&gt;
        &lt;Operator&gt;OneOf&lt;/Operator&gt;
        &lt;Operands&gt;
          &lt;RuleExpression RuleId="Windows/All_Windows_Client_Server" /&gt;
        &lt;/Operands&gt;
      &lt;/OperatingSystemExpression&gt;
    &lt;/PlatformApplicabilityCondition&gt;
    &lt;ScriptDiscoveryInfo ScriptType="PowerShell"&gt;&lt;Script&gt;$true&lt;/Script&gt;&lt;/ScriptDiscoveryInfo&gt;
  &lt;/Application&gt;
&lt;/DesiredConfigurationDigest&gt;</value>
            </setting>
            <setting name="SimpleSettingPS" serializeAs="String">
                <value> &lt;Annotation xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/06/14/Rules"&gt;
	&lt;DisplayName Text="{DISPLAYNAME}" ResourceId="{RESOURCEID}"/&gt;
	&lt;Description Text="{DESC}"/&gt;
 &lt;/Annotation&gt;
  &lt;ScriptDiscoverySource Is64Bit="{X64}" xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/07/10/DesiredConfiguration"&gt;
    &lt;DiscoveryScriptBody ScriptType="PowerShell"&gt;if((Get-ItemProperty -Path '{KEY}' -Name {VALUENAME} -ea SilentlyContinue).{VALUENAME} -eq {TARGETVALUE}) { $true } else { $false }&lt;/DiscoveryScriptBody&gt;
    &lt;RemediationScriptBody ScriptType="PowerShell"&gt;New-Item -Path '{KEY}';
New-ItemProperty -Path '{KEY}' -Name {VALUENAME} -Value {TARGETVALUE} -PropertyType {TARGETTYPE} -Force -ea SilentlyContinue;&lt;/RemediationScriptBody&gt;
  &lt;/ScriptDiscoverySource&gt;</value>
            </setting>
            <setting name="RulePSBool" serializeAs="String">
                <value>&lt;Annotation xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/06/14/Rules"&gt;
	&lt;DisplayName Text="{DISPLAYNAME}" ResourceId="{RESOURCEID}"/&gt;
	&lt;Description Text="Reg2CI (c) 2017 by Roger Zander"/&gt;
&lt;/Annotation&gt;
&lt;Expression xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/06/14/Rules"&gt;
	&lt;Operator&gt;Equals&lt;/Operator&gt;
	&lt;Operands&gt;
		&lt;SettingReference AuthoringScopeId="{AUTHORINGSCOPEID}" LogicalName="{LOGICALNAME}" Version="1" DataType="Boolean" SettingLogicalName="{SETTINGLOGICALNAME}" SettingSourceType="Script" Method="Value" Changeable="true"/&gt;
		&lt;ConstantValue Value="True" DataType="Boolean"/&gt;
	&lt;/Operands&gt;
&lt;/Expression&gt;</value>
            </setting>
            <setting name="PSScript" serializeAs="String">
                <value> &lt;Annotation xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/06/14/Rules"&gt;
	&lt;DisplayName Text="{DISPLAYNAME}" ResourceId="{RESOURCEID}"/&gt;
	&lt;Description Text="{DESC}"/&gt;
 &lt;/Annotation&gt;
  &lt;ScriptDiscoverySource Is64Bit="{X64}" xmlns="http://schemas.microsoft.com/SystemsCenterConfigurationManager/2009/07/10/DesiredConfiguration"&gt;
    &lt;DiscoveryScriptBody ScriptType="PowerShell"&gt;{PSDISC}&lt;/DiscoveryScriptBody&gt;
    &lt;RemediationScriptBody ScriptType="PowerShell"&gt;{PSREM}&lt;/RemediationScriptBody&gt;
  &lt;/ScriptDiscoverySource&gt;</value>
            </setting>
        </REG2CI.Properties.Settings>
    </applicationSettings>
</configuration>